<!-- ACS-Essex website Homepage -->
{% extends 'base.html' %}
{% load static %}

{% block content%} 
<div class="page-wrapper">
    <div class="home-center">
        <div class="filler"> Left Insert</div>
        <!--add extra cont div-->
        <div class="landing-image"> 
            <img src="{% static 'images/essexpond1.jpg' %}" alt="Essex Tree" width="800" height="450" > 
        </div>
        <div class="heading2"> Right Insert</div>
        <p> normal flow </p>
    </div>
</div>

{% endblock %}


